.navbar {
    background-color: #333;
    padding: 1rem 2rem;   
}
.nav-list-container{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    
}

.nav-list li {
    display: inline;
}

 li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

 li a:hover {
    color: #ff9800;
}
ul li .active{
    color: rgb(117, 187, 4);
}